[run]
source = .
omit = 
    */node_modules/*
    */migrations/*
    */apps.py
    */wsgi.py
    manage.py
    ./app/settings.py
branch = true

[report]

fail_under = 70
show_missing = True
skip_covered = True
